/*Joes CSS*/
body, html {
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: 666;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}


nav{
    /*overflow: hidden;*/
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

#login {
    /*float: left;*/
}

.nbl {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.nbl:hover{
    color: white;
}

.nbl::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 225ms;
}

.nbl:hover::before {
    width: 100%
}

.pimg1 {
    background-image: url('../img/img1.jpg');
    min-height: 100%;
    position: relative;
    /*opacity: 0.70;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
}

.border{
    background-color: #111;
    color: #fff;
    padding: 20px;
    opacity: 0.80;

}

#about_us {
    width: 1200px;
    margin: 0 auto;
}

#sec1 {
    width: 55%;
    /*text-align: center;*/
    padding: 50px 0px 50px 80px;
    display: inline-block;
}

.about_us_pic {
    box-shadow: 10px 10px 10px gray;
}

/*Will CSS*/
.hidden_form {
    visibility: hidden;
}


/* Romo CSS */

#planul {
	list-style: none;
}
#planli {
	display: inline-block;
	margin-right: 15px;
}
.plans {
	visibility:hidden;
}
.planlabel {
	cursor: pointer;
}
.plans:checked + .planlabel {
	background: black;
}
