/*Joes CSS*/
body, html {
    height: 100%;
    /*width: 100%;*/
    margin:0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: 666;
}

nav ul{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    /*margin: 0;*/
}

nav li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}


nav{
    /*overflow: hidden;*/
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.green{
    color: rgb(0, 200, 127);
}

.red{
    color: rgb(167, 0, 0);
}

.logo1{
    /*display: fixed;*/
    height: 45px;
    padding: 8px 0px 0px 8px;
}




.nbl {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.nbl:hover{
    color: white;
}

.nbl::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 225ms;
}

.nbl:hover::before {
    width: 100%
}

.pimg1 {
    background-image: url('../img/banner1.jpg');
    min-height: 100%;
    position: relative;
    /*opacity: 0.70;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg2 {
    background-image: url('../img/banner2.jpeg');
    min-height: 400px;
    position: relative;
    /*opacity: 0.80;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg3 {
    background-image: url('../img/palmTrees.jpg');
    min-height: 400px;
    position: relative;
    /*opacity: 0.80;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
}

.border{
    background-color: #111;
    color: #fff;
    padding: 20px;
    opacity: 0.80;

}

.centerh1{
    text-align: center;
}

#about_us {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

#sec1 {
    width: 55%;
    /*text-align: center;*/
    padding: 50px 0px 50px 80px;
    display: inline-block;
    vertical-align: top;
}

.about_us_pic {
    box-shadow: 10px 10px 10px gray;
}

.worksContainer {
    /*background-color: rgb(201, 228, 185);*/
    padding: 40px 100px;
    margin-top: 100px;
}


.howitworks {
    width: 40%;
    padding: 20px 50px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.iconcontainer {
    /*margin-left: 30%;*/
}

.logo {
    height: 50px;
    padding: 10px;
    display: inline-block;
    opacity: 0.60;
}

.logo:hover{
    opacity: 1;
}

.choosebox{
    display: block;
    margin:50px auto;
    padding: 20px;
    /*border: 1px solid black;*/
    /*box-shadow: 10px 10px 10px gray;*/
}

#boxdesc-container {
    width: 60%;
    margin: auto;
}

.boxdesc {
    display: inline-block;
    padding: 20px;
    width: 40%;
    margin-left: 30px;
    text-align: center;
}





/*Will CSS*/
.lc-input,
.fcWrapper {
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    overflow: hidden;
    max-height: 250px;
}
.lc-input span.noNumError {
    /*display: block;*/
    color: #d41515;
    padding: 5px 0;
}

.image_shown {
    display:inline-block;
    color: white;
    height: 400px;
    opacity: .9;
    width: 100%;
}

.image_hidden {
    display: none;
    /*color: rgb(0, 200, 127);*/
}

.carousel_inner {
    width:50%;
    height: 400px;
    /*position: relative;*/
    /*float: left;*/
    margin:auto;
    /*padding-top: 320px;*/

}

.carousel_inner img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /*border: 5px solid rgb(0, 200, 127);*/

}

.carousel {
    background-image: url("../img/summernights_rev.jpg");
    height: 500px;
    width: 100%;
    margin: 0 auto;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.carousel_inner p{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.prev_link, .next_link {
    /*padding-top: 200px;*/
    /*float:left;*/
    /*margin-top: 500px;*/
    background: black;
    padding: 10px 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 1.2em;
    text-transform: uppercase;
    box-shadow: none;
    border: 0px;


}

.prev_link {
    position: absolute;
    top: 335%;
    left: 23%;
    opacity: .7;
}

.next_link {
    position: absolute;
    top: 335%;
    right: 23%;
    opacity: .7;

}

.backtoschool {
    background-image: url("../img/smoke.jpg");
    height: 200px;
    width: 45%;
    background-size: cover;
    background-position: center;
    margin:auto;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.backtoschool p {
    color: white;
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 5px black;
    text-transform: uppercase;

}

.backtoschool button {
    background: black;
    padding: 10px 20px;
    color: white;
    letter-spacing: 2px;
    font-size: 1.2em;
    text-transform: uppercase;
    box-shadow: none;
    border: 0px;
    margin: auto;
}


.btmReg {
    background-color: rgb(189, 203, 185);
    padding: 100px 0px;
}

.btmReg h1 {
    text-align: center;
    color: rgb(0, 69, 59);
    margin-top: 20px;
}

.btmReg p {
    text-align: center;
    color: rgb(0, 69, 59);
}

#static {
    text-align: center;
    position: static;
    padding: 15px;
    background-color: black;
}

#hybrid_box h1 {
    border-top:2px;
    border-bottom: 2px;
    width:100%;
    margin:auto;
    font-size: 35px;
    /*font-stretch:*/

}

#hybrid_box {
    width:50%;
    margin:auto;

}

#boxdesc2 {
    display: inline-block;
    padding: 20px;
    /*width: 50%;*/
    margin: 0 auto;
    text-align: center;
}

#phybrid {
    font-size: 2.5em;
    font-weight: 200px;
    text-decoration: overline underline;
}

.hyb_container {
    width: 100%
}




.slickContainer {
    margin-top: -50px;
    /*width: 650px;*/
    margin: auto;
    background-color: rgb(0, 200, 127);
    padding: 20px 0px;
}


/* ================ Romo CSS =================*/
#member{
	text-align: center;
}

.border2{
	background: #111;
	color: #fff;
	padding: 20px;
	opacity: 0.70;
	letter-spacing: 1.5px;

}
#themepic{
	background-image: url('../img/smoke.jpg');
	min-height: 65%;
	position: relative;
	opacity: 0.9;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 70px;
	text-align: center;
}
#theme{
	margin-top: 180px;
	color: white;
	display: inline-block;
	padding: 10px;
	background: black;
	opacity: .8;
	border-radius: 5px;
	letter-spacing: 2px;

}
.strains {
    list-style-type:none;
	font-size: 2em;
	letter-spacing: 2px;
	margin-left: -5%;
}

.strains li {
    width:100px;
    height:40px;
	display: inline-block;
	padding: 0px 25px;
}

.strains label, .strains input {
    display:block;
}

.strains input[type="radio"] {
    opacity:0.01;
}

.strains input[type="radio"]:checked + label,
.checked + label {
	display: inline-block;
    color: rgb(0, 200, 127);
}

.strains label {
	padding:5px;
	cursor:pointer;

}

#welcome{
	text-align: center;
	margin: 6% 0% 8% 0%;
	font-size: 4em;
	letter-spacing: 10px;
	text-transform: uppercase;
}
.container {
  width: 24px;
  height: 24px;
  top: 85%;
  left: 90%;
  position: fixed;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #00C87F;
}

.chevron:before {
  background-color: rgb(0, 200, 127);
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  background-color: rgb(0, 200, 127);
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  color: rgb(0, 200, 127);
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
#changePlan{
	display: inline;
	padding: 10px 15px;
	letter-spacing: 2px;
	color: white;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 300;
	background: black;
	opacity: .7;
}
#strainform{
	margin-top: 5%;
}
#buttonstrain{
	background: black;
	padding: 10px 20px;
	color: white;
	letter-spacing: 2px;
	font-size: 1.2em;
	text-transform: uppercase;
	box-shadow: none;
	border: 0px;

}
#strainpics{
	background-image: url('../img/acapulcogold.jpg');
	height: 100px;
    min-height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	padding: 250px;
}
#unsuscribem{
	box-shadow: none;
	border: 0px;
	background: white;
	text-transform: uppercase;
	margin-left: -95%;
}
#suslink{
	text-decoration: none !important;
	color: grey !important;
}
#choices{
	margin-bottom: -7px;
}
