/*Joes CSS*/
body, html {
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: 666;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 20px;
    position: relative;
}


nav{
    /*overflow: hidden;*/
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

<<<<<<< HEAD
=======
.logo1{
    display: inline-block;
    height: 50px;
}

>>>>>>> 824431cc052aad1cf6c7f0429e453500b4d6060f
#login {
    /*float: left;*/
}

.nbl {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.nbl:hover{
    color: white;
}

.nbl::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 225ms;
}

.nbl:hover::before {
    width: 100%
}

.pimg1 {
    background-image: url('../img/banner1.jpg');
    min-height: 100%;
    position: relative;
    /*opacity: 0.70;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg2 {
    background-image: url('../img/banner2.jpeg');
    min-height: 400px;
    position: relative;
    /*opacity: 0.80;*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;
}

.border{
    background-color: #111;
    color: #fff;
    padding: 20px;
    opacity: 0.80;

}

#about_us {
    width: 1200px;
    margin: 0 auto;
}

#sec1 {
    width: 55%;
    /*text-align: center;*/
    padding: 50px 0px 50px 80px;
    display: inline-block;
}

.about_us_pic {
    box-shadow: 10px 10px 10px gray;
}

<<<<<<< HEAD
=======
.howitworks {
    width: 46%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.iconcontainer {
    /*margin-left: 30%;*/
}

.logo {
    height: 50px;
    padding: 10px;
    display: inline-block;
    opacity: 0.60;
}

.logo:hover{
    opacity: 1;
}

.choosebox{
    display: block;
    margin:50px auto;
    padding: 20px;
    /*border: 1px solid black;*/
    /*box-shadow: 10px 10px 10px gray;*/
}

.boxdesc {
    display: inline-block;
    margin: auto;
}







>>>>>>> 824431cc052aad1cf6c7f0429e453500b4d6060f
/*Will CSS*/
#show {
    display: show;

}
#title_border {
    font-family: sans-serif;
    font-size:20px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top: 0px;
    border-bottom: 1px solid black;
    text-align: center;

}

#popup_bg {
    position: fixed;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    

}

#popup_main {
    position: fixed;
    width:400px;
    height:400px;
    border: 2px solid black;
    border-radius: :5px;
    background-color: white;
    left:50%;
    margin-left:-200px;
    top: 50%;
    margin-top: -100px;
    /*padding: 50px;*/

}
#popup_main form{

    padding:50px;
}
#popup_close {
    position: absolute;
    width:25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    right: 5px;
    top:5px;
  /*  cursor: pointer;*/

}
/*
#popup_close p {
    margin-top:5px;
    font-family: sans-serif;
    font-weight:bold;
   

<<<<<<< HEAD
=======
}*/


>>>>>>> 824431cc052aad1cf6c7f0429e453500b4d6060f
/* Romo CSS */
.border2{
	background: #111;
	color: #fff;
	padding: 20px;
	opacity: 0.70;
	letter-spacing: 1.5px;
}
#themepic{
	background-image: url('../img/smoke.jpg');
	min-height: 65%;
	position: relative;
	opacity: 0.9;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 70px;
	text-align: center;
}
#theme{
	margin-top: 180px;
	color: white;
	display: inline-block;
	border: 2px solid black;
	padding: 10px;
	background: black;
	opacity: .8;
	border-radius: 5px;
	letter-spacing: 2px;

}
.strains {
    list-style-type:none;

}

.strains li {
    width:100px;
    height:40px;
    position:relative;
	display: inline-block;
}

.strains label, .strains input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.strains input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.strains input[type="radio"]:checked + label,
.checked + label {
	display: inline-block;
    background: yellow;
}

.strains label {
     padding:5px;
     border:1px solid #CCC;
     cursor:pointer;
    z-index:90;
}
#welcome{
	text-align: center;
	margin: 6% 0% 10% 0%;
	font-size: 4em;
	letter-spacing: 7px;
	text-transform: uppercase;
}
.container {
  width: 24px;
  height: 24px;
  margin: -25% 0% 20% 94%;
  position: fixed;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: black;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  color: #black;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
