<!DOCTYPE html>
<html>
    <head>
        <title>7Leaves</title>
        <meta charset="utf-8">
		{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   	<link rel="stylesheet" href="{% static 'sub_box/css/style.css' %}" title="Login">
    </head>
    <body>
        <nav>
            <img class="logo1" src="../../static/sub_box/img/logo.jpg" alt="logo"/>
            <ul>
                <li><a class="nbl" href="#">Home</a></li>
                <li><a class="nbl" href="#sec1">About Us</a></li>
                <li><a class="nbl" href="#">How it Works</a></li>
                <li><a class="nbl" href="#">Contact</a></li>
                <li id="login"><a href="/member" class="nbl" onclick="openPopupMenu()">Login</a></li>
                <!-- Need to push login to the right -->
            </ul>
        </nav>

        <div class="pimg1">
            <div class="ptext1">
                <span class="border">
                    <span class="green">7</span>LEAVES
                </span>
            </div>
        </div>

        <div id="about_us">
            <img class="about_us_pic" src="../static/sub_box/img/boximg2.jpg" height="300" alt="box pic">

            <section id="sec1" class ="section">
                <h2><span class="red">Our Vision</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati unde eaque cupiditate voluptatibus, sed, reprehenderit accusamus natus nam voluptas doloremque mollitia quia dicta molestiae expedita aspernatur maiores delectus accusantium officia doloribus maxime ad alias veritatis cumque est quae? Nulla voluptatibus, reprehenderit vitae sint, nobis fuga quia totam delectus commodi, et id? Hic tempora mollitia totam odit impedit fugiat, harum dolores blanditiis aliquam exercitationem eius tenetur, amet ad est autem maiores nulla sunt unde quas recusandae voluptatem! Iure numquam totam sed, error consequuntur temporibus natus facilis beatae est quidem, quibusdam ducimus aut ipsa debitis libero accusantium quae! Esse modi, magni! Voluptatibus!</p>
            </section>

            <h1 class="centerh1">How it Works</h1>

            <section class ="section howitworks">
                <h2>What's in the box?</h2>
                <p>A random variety of top tier strains along with an accessory to enhance your overall experience.
                <div class="iconcontainer">
                    <img class="logo" src="../static/sub_box/img/icon1.jpg" alt="Logo1">
                    <img class="logo" src="../static/sub_box/img/icon2.jpg" alt="Logo2">
                </div>
            </section>

            <section class ="howitworks">
                <h2>Top Tier</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati unde eaque cupiditate voluptatibus, sed, reprehenderit accusamus natus nam voluptas doloremque mollitia quia dicta molestiae expedita aspernatur maiores delectus accusantium officia doloribus maxime ad alias veritatis cumque est quae? Nulla voluptatibus, reprehenderit vitae sint, nobis fuga </p>
            </section>
        </div>

        <div class="pimg2">
            <div class="ptext1">
                <span class="border">
                    CHOOSE YOUR <span class="green">BOX</span>
                </span>
            </div>
        </div>

        <img class="choosebox" src="../static/sub_box/img/boximg3.jpg" height="350px" alt="Logo2">

        <div id="boxdesc-container">
            <section class="boxdesc">
                <p><span class="red">Effects:</span> Tends to be a sedating and relaxing, full-body experience.</p>
                <p><span class="red">Helps with:</span> Anxiety, insomnia, pain, and muscle spasms.</p>
            </section>

            <section class="boxdesc">
                <p><span class="red">Effects:</span> Tends to be an uplifting and creative experience that has a cerebrally-focused effect.</p>
                <p><span class="red">Helps with:</span> Depression, ADD, fatigue, and mood disorders.</p>
            </section>
        </div>
        <div id="hybrid_box">
        	<section id="boxdesc2">
        		<h1 class="green">HYBRID</h1>
        		<p>Hybrids are a combination of both Indica and Sativa strains through the breeding process. Hybrids usually have the most favorable aspects of each parent strain. The dominant traits of the strain can vary, which means it could be sativa or indica dominant, or right in the middle. </p>
            </section>
        </div>
        <img class="logo" src="../static/sub_box/img/summernights_rev.jpg" alt="last_month">
        <h3>Last Month's Stash:</h3>
        <div id="slider">
        <img src="../static/sub_box/img/summernights_rev.jpg" alt="sativa">
        <img src="../static/sub_box/img/bubba_kush-2.jpg" alt="indica">
        
        	<ul>
        		<li>Green Crack, Bubba Kush, </li>
        		<li>Twisty Pipe</li>
        		<li>Grinder</li>
        		<li>Papers</li>
        		<li>Lighter</li>
        		<li>Chips</li>
        	</ul>
        </div>
        <div>
        <img src="#">
        	<h1>Want in?</h1>
        	<button href="/cart">Subscribe</button>

        </div>
        <h2>Sponsors</h2>


        <!-- FORM STARTS HERE -->

        <div id="popup-bg">
	        <div id="popup_main">
    			<button id="popup_close" title="Close" onclick="closePopupMenu()">X</button>
	    		<h3 id="title_border">Login</h3>
	    		<form method="POST" action="/login">
	    		<h1>Welcome!</h1>
	    		{% csrf_token %}
	    		<table>
	    			<tbody>
	    				<tr>
	    					<td>Email:</td>
	    					<td><input id="email" type="email" name="email" value=""></td>
	    				</tr>
	    				<tr>
	    					<td>Password:</td>
	    					<td><input id="password" type="password" name="password" value=""></td>
	    				</tr>
	    			</tbody>
	    		{% if messages %}
        		<div class="messages">
          		 	{% for message in messages %}
            		<p>{{ message }}</p>
            		{% endfor %}
        		</div>
        		{% endif %}
	    		</table>
	    		<input class="button" type="submit" value="Login">
	    		</form>
	    		<a href="/main">Register Here</a>
			</div>
		</div>
	    
    </body>
</html>
