<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Member</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'sub_box/css/style.css' %}" title="Login">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			$('input[type="radio"]').hover(function(){
				  $("#strainpics").css("background-color", "yellow");
			  }, function(){
				  $("#strainpics").css('background-color', "yellow");
			  })







		});
	</script>
</head>

<body>
	<nav>
		<img class="logo1" src="../../static/sub_box/img/logo.jpg" alt="logo" />
		<ul>
			<li><a class="nbl" href="#">Home</a></li>
			<li><a class="nbl" href="#sec1">About Us</a></li>
			<li><a class="nbl" href="#">How it Works</a></li>
			<li><a class="nbl" href="#">Contact</a></li>
			<li id="login"><a class="nbl" href="/member" onclick="openPopupMenu()">Login</a></li>
		</ul>
	</nav>
	<div id="themepic">
		<span class="border2">
			<span class="green">THIS </span> MONTHS THEME
		</span>
	</div>
	<div id="member">
		<h3 id="welcome">Welcome {{ User.name }}!</h3>

		<h2 id="changePlan">Change your plan: {{plan.strain}}</h2>


		<form id="strainform" action="#">
			<p>Click on your Choice to view</p>
			<ul class="strains">
				<li>
					<input id="Indica" type='radio' value='Indica' name='strain' />
					<label for='Indica'>INDICA</label>
				</li>
				<li>
					<input id="Sativa" type='radio' value='Sativa' name='strain' />
					<label for='Sativa'>SATIVA</label>
				</li>
				<li>
					<input id="Hybrid" type='radio' value='Hybrid' name='strain' checked="checked" />
					<label for='Hybrid'>HYBRID</label>
				</li>
			</ul>
			<div id="strainpics">
			<button id="picsstrain" type="submit" name="submit">Add to Cart!</button>
			</div>
		</form>
		<button type="button" name="unsuscribe"><a href="#">Unsuscribe!</a></button>
		<div class="container">
			<div class="chevron"></div>
			<div class="chevron"></div>
			<div class="chevron"></div>
			<span class="text">Scroll down</span>
		</div>
	</div>
</body>

</html>
